body {
    line-height: 1.8;
    font-family: var(--ff);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    background-color: var(--clr-primary-850);
    color: var(--clr-neutral-100);
}