@use '../abstracts/mixins' as m;

.header--navigation .navigation-list {
    display: flex;
    gap: 1.5em;

    @include m.mq(large) {
        gap: 2.25em;
    }

    &__links {
        text-decoration: none;
        color: var(--clr-neutral-100);
        font-size: var(--fs-300);

        @include m.mq(large) {
            font-size: var(--fs-400);
        }

        &:hover,
        &:focus-visible {
            text-decoration: underline;
            font-weight: var(--fw-bold);
            outline: none
        }
    }
}

.footer--navigation {
    display: grid;
    gap: 3em;

    @include m.mq(large) {
        grid-template-columns: auto auto;
    }
}

.footer--navigation .navigation-list {
    display: grid;
    gap: 1em;

    &__links {
        text-decoration: none;
        color: var(--clr-neutral-100);
        font-size: var(--fs-500);

        @include m.mq(large) {
            font-size: var(--fs-400);
        }

        &:hover,
        &:focus-visible {
            font-weight: var(--fw-bold);
            outline: none;
        }
    }
}

.social-media-list {
    @include m.flex(row);
    margin-inline: auto;
    gap: .875em;

    @include m.mq(large) {
        margin-block-end: auto;
    }

    &__items {
        text-decoration: none;
        border-radius: 50%;
        height: 2.5em;
        width: 2.5em;
        border: 1px solid var(--clr-neutral-100);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--clr-neutral-100);

        &:hover,
        &:focus-visible {
            border-color: var(--clr-accent-300);
            outline: none;
            color: var(--clr-accent-300);
        }
    }

    &__icons {
        font-size: var(--fs-400);      
    }
}